/* Importação da Fonte "Inter" da API do Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Fonte "Inter" Como Padrão Para Todo o Site */
* {
    font-family: "Inter", Arial;
    transition: all 0.15s;
}

/* Cores do Light e Dark Mode */
:root {
    --primary-color: rgb(23,50,118);
    --secondary-color: White;
}

.dark-mode {
    --primary-color: white;
    --secondary-color: #121212;
}

/* Responsividade de Altura e Largura */
@media (max-width: 1000px) {

    

    div.container-esquerdo > .imagem {
        object-position: 0 30%;
        width: 100%;
        height: 15%;
    }

    #container-direito {
        flex-basis: 85vh;
    }

}

@media (max-height: 700px) {

    img.logomarca {
        width: 50vh;
    }

    img.logomarca-dark-mode {
        width: 50vh;
    }

}

@media (max-width: 500px) {

    div.container-esquerdo {
        display: none;
    }

    div.container-direito {
        width: 300px;
    }

    img#logomarca.logomarca,
    img#logomarca-dark-mode {
        width: 250px;
    }

    input.required {
        width: 250px;
    }

    button.botao-de-entrar {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }

    .botao-de-limpar-campos {
        width: 100%;
        display: block;
    }

}

/* Margens e Padding's Zerados do Body */
body {
    margin: 0;
    padding: 0;
}

/* Scrollbar Personalizada*/
body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(160, 160, 160);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color)
}

/* Estilização de Todos os Botões da Página */
button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.15s;
    box-sizing: border-box;
    width: 175px;
    height: 40px;
    background-image: url(../imagens/icone-botoes/right-to-bracket-solid.svg);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 10px;
    vertical-align: middle;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

/* Container - Engloba o Lado Esquerdo e Direito*/
.container {
    display: flex;
}

/* Container Esquerdo */
.container-esquerdo {
    flex: 1;
}

.imagem {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: fixed;    
}

/* Container Direito */
.container-direito {
    flex: 1;
    justify-items: center;
    align-content: center;
    height: 100vh;
    text-align: center;
    background-color: var(--secondary-color);
}

/* Imagem da Logomarca no Container Direito */
.logomarca,
.logomarca-dark-mode {
    width: 400px;
    max-width: 100%;
    margin-bottom: 19px;
}

.logomarca-dark-mode {
    display: none;
}

/* Divisões do Campo de E-Mail e Senha */
.campo {
    margin-top: 5px;
}


.email {
    background: url(../imagens/icones-pagina-registro/icone-email.svg) no-repeat left;
}

.senha {
    background: url(../imagens/icones-pagina-registro/icone-senha.svg) no-repeat left;
}

.email,
.senha {
    border: none;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 5px;
    height: 40px;
    width: 350px;
    background-position: 10px;
    background-size: 14px;
    margin-top: 10px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.15s;
    box-shadow: rgba(105, 105, 105, 0.25) 0px 1px 1px, rgba(151, 151, 151, 0.13) 0px 0px 1px 1px;
}

/* Lembrar de mim e Esqueci minha senha */
.lembrar-esqueci {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 13px;
    color: var(--primary-color)
}

/* Lembrar de mim */
.checkbox {
    flex: 1;
    text-align: left;
}

.checkbox > label {
    vertical-align: top;
    margin-left: -4px;
    vertical-align: middle;
}

#lembrar-de-mim {
    accent-color: var(--primary-color);
    height: 16px;
    vertical-align: middle;
}

/* Esqueci miha senha */
.esqueci {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.esqueci-minha-senha {
    text-decoration: none;
    color: var(--primary-color);
}

.esqueci-minha-senha:hover {
    text-decoration: underline;
}

/* Botões */
.botao-de-limpar-campos {
    background-size: 24px;
    background-image: url(../imagens/icone-botoes/broom-icon.svg);
}

.homepage {
    display: block;
    width: 100%;
    background-image: url(../imagens/icone-botoes/backward-solid.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 11px;
    margin-top: 5px;
    font-size: 13.333px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    transition: all 0.15s;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;
    height: 40px;
}

a > span {
    position: relative;
    top: 12px;
}

.homepage:hover {
    opacity: 0.8;
}

.homepage:active {
    opacity: 0.6;
}


/* Mensagem de Erro */
.span-required {
    display: none;
    font-size: 13px;
    margin-top: 5px;
}

/* "Botões" de Acessibilidade */
.acessibility-buttons {
    margin-right: 2px;
}

.acessibility-buttons > div {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 50%;
    bottom: 50%;
    gap: 2px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(23, 50, 118, 0.11);
}
/* "Botões" de Acessibilidade */
.acessibilidade-mais,
.acessibilidade-menos {
    transition: all 0.50s;
    width: 20px;
}

.acessibilidade-mais:hover,
.acessibilidade-menos:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* O Código abaixo faz os botões "brancos" que aparecem no Dark Mode não carregarem na página de imediato */
.lm-dm {
    display: none;
}

/* Botões de White e Dark Mode */
.botao-white-mode,
.botao-dark-mode {
    transition: all 0.50s;
    align-self: center;
}

.botao-white-mode {
    width: 20px;
    display: none;
}

.botao-dark-mode {
    width: 16px;
}

.botao-white-mode:hover,
.botao-dark-mode:hover {
    cursor: pointer;
    opacity: 0.8;
}